$plan-provider-image-height: 5em;
$plan-provider-border-radius: 5px;
$title-color: $theme-primary;

plan-viewer {

  .plan {
    height: $plan-provider-image-height;
    margin-bottom: 1em;
    border-radius: $plan-provider-border-radius;
    border: 2px solid #B5B545;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    cursor: pointer;

    .table-column {
      display: table;
      height: 100%;

      &.image-holder {
        padding-right: 0;
      }

      .title {
        color: $theme-primary;
        text-transform: uppercase;
        font-weight: bold;
      }

      .price {
        color: $theme-primary;
      }

      .title, .price, .description {
        height: 100%;
        vertical-align: middle;
        display: table-cell;
        width: 100%;
        text-align: center;
        padding-bottom: 0;

        .plan-type {
          font-style: italic;
          color: initial;
          font-size: 0.9em;
          text-transform: none;
        }
      }
    }

    .title, .description, .price {
      font-size: 1.2em;
    }

    .description {
      flex-grow: 1;
      text-align: center;
    }

    .provider-image {
      width: $plan-provider-image-height;
      height: calc(#{$plan-provider-image-height} - 4px);
      border-top-right-radius: $plan-provider-border-radius;
      border-bottom-right-radius: $plan-provider-border-radius;
      background-repeat: no-repeat;
      background-size: cover;
      float: right;
    }
  }
}