<div class="price-plans container">
  <div class="plan col-xs-12 col-sm-6" [class.selected]="plan.selected" *ngFor="let plan of plans">
    <div class="plan-inner" [class.clickable]="isClickable && !plan.selected" (click)="selectPlan(plan)">
      <header>
        <div class="text-uppercase highlight"><h3>{{plan.name}}</h3></div>
        <div class="price">({{plan.price}} € <span>/ mês</span>)</div>
        <!--<div class="description">{{plan.description}}</div>-->
      </header>
      <div class="content">
        <ul>
          <li *ngFor="let feature of plan.features" [class.crossed]="!feature.isAvailable">
            <i class="fa fa-fw" [ngClass]="feature.isAvailable ? 'green fa-check-square-o' : 'red fa-square-o'"></i>
            <span>{{getFeatureName(feature.featureId)}}</span>
          </li>
        </ul>
      </div>
      <!--<footer>
        <a (click)="selectPlan(plan)">Selecionar</a>
      </footer>-->
    </div>
  </div>
</div>